.header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0 50px 0 50px;
}

#logo {
  width: 150px;
  height: 150px;
}

.search-bar form {
  display: flex;
  gap: 4px;
}

.search-bar input {
  width: 430px;
  height: 25px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #14213d;
  color: #e5e5e5;
  font-size: 16px;
  padding: 10px;
}

.search-bar input[type="submit"] {
  width: 100px;
  height: 45px;
  border-radius: 50px;
  outline: none;
  border: 2px solid #14213d !important;
  font-weight: 600;
  cursor: pointer;
  background: #f0f0f0;
  color: black;
  font-size: 14px;
  font-family: 'rubik';
}

.button-list {
  display: flex;
  gap: 20px;
}

#addIcon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#userIcon {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.navbar__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14213d;
  height: 35px;
  color: #e5e5e5;
}

.navbar__tabs--options {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: 50px;
}

.navbar__tabs--options a {
  color: #fff;
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.navbar__tabs--options a:hover {
  background-color: #fca311;
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}

.navbar__tabs--location {
  margin-right: 95px;
  cursor: pointer;
}

.navbar__tabs--location span {
  padding: 5px;
}

.selected{
  background-color: #fca311;
  border-radius: 4px;
}

#arrowIcon {
  width: 12px;
  height: 12px;
}

/* .navbar__tabs--location{
  position: relative;
  display: inline-block;
} */

.navbar__tabs--locationdropdown {
  position: relative;
  display: inline-block;
}

.navbar__tabs--locationDropdown{
  border-radius: 8px;
  margin-top: 0px;
  padding: 4px;
  position: absolute;
  background-color: #14213d;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  left: -155px;
  padding: 12px;
  top: 35px;
}

.navbar__tabs--locationDropdown input {
  outline: none;
}

#locationList {
  overflow: auto;
  min-height: 40px;
  max-height: 400px;
  margin: 0;
  padding: 0;
}

#locationList li {
  width: 90%;
  max-height: 80px;
  background-color: #fca311;
  border-radius: 4px;
  padding: 5px;
  word-wrap: break-word;
  text-align: justify;
  margin-bottom: 4px;
  list-style-type: none;
  text-decoration: none;
  color: #14213d;
}


#locationSearch {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #fca311;
  background-color: transparent;
  color: #e5e5e5;
}

.dropdown {
  position: absolute;
  top: 50%;
  margin-top: 4px;
  right: 22px;
  z-index: 1;
  width: 125px;
  border-radius: 8px;
  max-height: 100px;
  padding: 0px;
  background-color: #14213d;
  box-shadow: rgb(0 0 0 / 61%) 0px 4px 6px 0px;
}

.dropdown__buttons {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: space-evenly;
  height: 95px;
}

.dropdown__buttons button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #fca311;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.dropdown__buttons button:hover {
  color: #000;
  cursor: pointer;
  background-color: #e5e5e5;
}
