.sign-up__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #14213d;
    background-color: #14213d;
}

.sign-up__header{
    width: 100vw;
    height: 120px;
    color: #e5e5e5;
    display: flex;
    align-items: center;
}

#sign-up__header--logo{
    width: 100px;
    height: 100px;
    margin-left: 24px;
}

.sign-up__body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

#sign-up__body--image {
    width: 600px;
    height: 400px;
    border-radius: 12px;
}

.sign-up__body--formcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(252, 163, 17);
    width: 420px;
    border-radius: 8px;
    flex-direction: column;
  }
  
.input{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 14px;
  }

.input input {
    width: 340px;
    height: 20px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    padding: 12px;
    background-color: #e5e5e5;
  }

input:focus {
    outline: none;
    border: none;
  }

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#sign-up__body-btn {
    width: 90px !important;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.sign-up__body--links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    height: 50px;
    justify-content: space-evenly;
  }
  
.sign-up__body--links a {
    text-decoration: none;
    color: #14213d;
}

.sign-up__body--links a:hover {
    color: rgb(229, 229, 229);
    cursor: pointer;
}