<div class="sign-up__container">
    <div class="sign-up__header">
        <img src="/assets/UrbanView.png" id="sign-up__header--logo" alt="urbanviewLogo" />
        <h1 class="sign-up__header--text">UrbanView</h1>
    </div>
    <div class="sign-up__body">
        <div class="sign-up__body--imagecontainer">
            <img src="/assets/City.avif" id="sign-up__body--image" />
        </div>
        <div class="sign-up__body--formcontainer">
            <form action="/signin">
                <div class="input">
                <label for="sign-up__body--usernameInput">Username</label>
                <input id="sign-up__body--usernameInput" type="text" />
                </div>
                <div class="input">
                <label for="sign-up__body--emailInput">Email</label>
                <input id="sign-up__body--emailInput" type="text" />
                </div>
                <div class="input">
                <label for="sign-up__body--passwordInput">Password</label>
                <input id="sign-up__body--passwordInput" type="password" />
                </div>
                <div class="input">
                <label for="sign-up__body--passwordInputCfm">Confirm Password</label>
                <input id="sign-up__body--passwordInputCfm" type="password" />
                </div>
                <div class="btn">
                <input type="submit" value="Sign Up" id="sign-up__body-btn" />
                </div>
            </form>
            <div class="sign-up__body--links">
                <a href="/signin">Back to Signin!</a>
            </div>
        </div>
    </div>
</div>