.forgotpassword__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #14213d;
    background-color: #e5e5e5;
}

.forgotpassword__header{
    width: 100vw;
    height: 120px;
    color: #e5e5e5;
    display: flex;
    align-items: center;
    color: #14213d;
}

.forgotpassword__header--text{
    font-size: 36px;
}

#forgotpassword__header--logo{
    width: 100px;
    height: 100px;
    margin-left: 24px;
}

.forgotpassword__body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.forgotpassword__body--formcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 25px;
}

.forgotpassword__body--formcontainer form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.forgotpassword__body--formcontainer h1{
    font-size: 32px;
}

.forgotpassword__body--formcontainer label {
    font-size: 22px;
}

.input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 14px;
    align-items: center;
}

input:focus {
    outline: none;
    border: none;
  }
  
.forgotpassword__body--formcontainer input {
    border: none;
    border-radius: 4px;
    padding: 4px;
    width: 200px;
    height: 22px;
}
  
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#forgotpassword__body-btn {
    background-color: rgb(252, 163, 17);
    width: 132px !important;
    cursor: pointer;
    height: 30px;
}
  
#forgotpassword__body-btn:hover {
    color: #e5e5e5;
}

