<div class="forgotpassword__container">
    <div class="forgotpassword__header">
        <img src="/assets/UrbanView.png" id="forgotpassword__header--logo" alt="urbanviewLogo" />
        <h1 class="forgotpassword__header--text">UrbanView</h1>
    </div>
    <div class="forgotpassword__body">
        <div class="forgotpassword__body--formcontainer">
            <h1>Forgot your password?</h1>
            <form action="/signin">
                <div class="input">
                <label for="forgotpassword__body--emailInput">Email</label>
                <input id="forgotpassword__body--emailInput" type="text" />
                </div>
                <div class="btn">
                <input type="submit" value="Send Reset Link" id="forgotpassword__body-btn" />
                </div>
            </form>
           
        </div>
    </div>
</div>