h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 85px;
}

.navigation a {
  text-decoration: none;
}

.navigation--text {
  font-weight: 600;
}

#prevIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#prevIcon:hover {
  background-color: #fca311;
  border-radius: 20px;
}

.container_detailpost {
  margin-top: 160px;
  margin-right: 50px;
  height: calc(100vh - 160px);
  overflow-y: scroll;
}

.detailContainer {
  margin: 16px 250px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 40px;
}

.detailContainer h3 {
  /* color: #E5E5E5; */
  font-size: 20px;
}

.container_detailpost .prevContainer {
  margin-left: 85px;
}

.detailUser h1 {
  font-size: 36px;
}

.detailUser .postTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postButtons {
  display: flex;
  align-items: center;
}

.selected {
  background-color: #fca311a3 !important;
}

.share-post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 130px;
  background: none;
  padding: 4px;
  cursor: pointer;
  gap: 4px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #14213d !important;
}

.menuIcon {
  position: relative;
  background: none;
  display: inline-block;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: -18px;
}

/* .menuIcon img:hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
  } */

.postControls {
  display: none;
  position: absolute;
  z-index: 1;
  left: 15px;
  width: 100px;
  border-radius: 4px;
  max-height: 100px;
  padding: 0px;
  background-color: #14213d;
  box-shadow: rgb(0 0 0 / 61%) 0px 4px 6px 0px;
}

.edit-post-button:hover,
.delete-post-button:hover {
  background-color: #e5e5e5;
  color: #14213d;
}

.userData {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.user_profile-link {
  text-decoration: none;
  color: black;
}

.user_profile-link:hover {
  color: #fca311;
}

.follow_unfollow-btn button {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  background-color: #fca311;
  border: 0px solid #14213d !important;
  cursor: pointer;
  font-family: "rubik" !important;
}

.follow_unfollow-btn button:hover {
  background-color: #fca3118f;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
  transform: translateY(0.1rem);
}

.interactionButtonsSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 15px;
  margin-top: -25px;
  /* height: 65px; */
  width: 97%;
  background-color: #dadada;
  padding: 14px;
  border: 1px solid #14213d;
  border-radius: 8px;
}

.interactionButtonsSection button {
  font-size: 18px;
  width: 225px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 4px;
  cursor: pointer;
  gap: 4px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #14213d !important;
}

.descriptionContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.descriptionHeading {
  margin-bottom: 25px;
}

.detailDescription {
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify;
  font-size: 20px;
  line-height: 2;
}

.detailAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.detailuserSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailuserSection .user {
  display: flex;
  justify-content: flex-start;
  column-gap: 6px;
  align-items: center;
}

.interactionButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.interactionButtons form {
  height: 35px;
}

.interactionButtons span {
  font-weight: 600;
}

/* LiveSection */
.detailLiveSection {
  width: 1200px;
  display: flex;
  margin-left: -118px;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.detailLiveChat {
  height: 402px;
  width: 290px;
  background: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  /* border: 1px solid #fca311; */
  box-shadow: rgba(0, 0, 0, 0.35) 4px 3px 4px;
}

.chat-section {
  overflow: auto;
  padding: 8px;
}

.chat-message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  word-wrap: break-word;
  gap: 8px;
  margin-bottom: 12px;
}

.chat_Username {
  font-weight: 600;
  font-size: 12px;
}

.chat_Message {
  font-size: 12px;
}

.chat_Useravatar img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#new-chat-form {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  background-color: #202020;
  border-radius: 16px;
}

#new-chat-form textarea {
  min-width: 200px;
  max-width: 230px;
  min-height: 24px;
  max-height: 30px;
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 6px;
}

#new-chat-form textarea::placeholder {
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

#new-chat-form input {
  width: 25%;
  border-radius: 16px;
  outline: none;
  border: none;
}

#new-chat-form input[type="submit"]:hover {
  background-color: #fca311;
  color: #e5e5e5;
  cursor: pointer;
  transform: translateX(0.2rem);
}
/* VideoStream Css */

/* .detailVideoStreamer {
    width: 60%;
  } */

.detailVideoStreamer video {
  width: 640px;
  height: 398px;
  background: black;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Slider Css */

.detailImagesSlider {
  display: flex;
  justify-content: center;
}



/* TagsSection */

.tagsHeading {
  margin-bottom: 25px;
}

.tagsSection span {
  background-color: #fca311;
  border-radius: 12px;
  padding: 8px;
  font-size: 14px;
  color: #ffffff;
  margin-right: 4px;
}

/* CommentSection  */

.commentsForm {
  display: flex;
}

.commentsForm_form {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  margin-bottom: 15px;
  max-width: 780px;
  min-height: 75px;
  background-color: #ffffff92;
  border-radius: 8px;
  padding: 8px;
}

.commentUser {
  width: 10%;
}

.commentContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  gap: 6px;
  padding: 6px;
}

.commentContent_user {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentContent_content {
  word-wrap: break-word;
}

.commentUser_userLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentsForm {
  margin-top: 25px;
  max-width: 800px;
  min-height: 150px;
}

.commentsList {
  margin-top: 25px;
}

.commentsForm_userLogo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.commentAvatar {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  padding: 4px;
  border: 1px solid #14213d;
}

.commentsForm_form {
  width: 90%;
}

.commentsForm_form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.commentsForm_form textarea {
  min-height: 150px;
  max-width: 720px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 16px;
  font-family: "rubik";
}

.commentSubmitbtn {
  height: 40px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.commentSubmitbtn:hover {
  cursor: pointer;
  background-color: #fca311;
  color: #e5e5e5;
}

.commentControls {
  display: flex;
  column-gap: 4px;
  height: 30px;
}

.like-post-button,
.dislike-post-button,
.maybe-post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  gap: 4px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #14213d !important;
}

.like-post-button img {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
}

.dislike-post-button img {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
}

.maybe-post-button img {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
}

.share-post-button img {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
}

.post-upvote-icon {
  width: 22px;
  height: 20px;
  background-color: transparent;
  margin-bottom: 6px;
}

.menuIcon img {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
}

.share-post-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

.like-post-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

.dislike-post-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

.maybe-post-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}
